@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Reseteo CSS sencillo*/
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  gap: 0;
}

body {
  font-family: 'Roboto';
  background-color: #e0e0e0;

}

.container {
  max-width: 1080px;
  background-color: #eee;
  box-shadow: 0 0 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  );
  grid-template-rows: 180px 270px;
  margin: 16px auto;
  padding: 16px;
  gap: 16px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2c2d2d;
  color: #eee;
  padding: 16px;
  gap: 8px;
  grid-row: 1/3;
  border-radius: 10px;
}

section {
  padding: 8px;
  gap: 8px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px;
}

h2 {
  border-bottom: solid 2px;
  margin-bottom: 8px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.references-section > div {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

ul {
  padding-left: 16px;
}