@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Reseteo CSS sencillo*/
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  gap: 0;
}

body {
  font-family: 'Roboto';
  background-color: #e0e0e0;
  scrollbar-width: none;
}

.container {
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
  margin: 16px auto;
  padding: 16px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2c2d2d;
  color: #fff;
  padding: 16px;
  gap: 8px;
  grid-row: 1/3;
  border-radius: 10px 10px 0 0;

  ul {
    width: 100%;
    text-align: start;
    gap: 10px;
    margin-top: 20px;
  }

  li {
    display: inline-flex;
    padding-inline: 8px;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #eee;
    display: flex;
    align-items: center;
    gap: 4px;

    &:hover {
      color: #90b3cc;
    }
  }
}

section {
  padding: 16px 8px;
  gap: 8px;
  background-color: #fff;
}

h2 {
  border-bottom: solid 2px;
  margin-bottom: 8px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

#references-section > div {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

ul {
  padding-left: 16px;
}

.column-1 {
  background-color: #2c2d2d;
  color: #eee;
}

#languages-section {
  border-radius: 0 0 10px 10px;
}

@media (width < 660px) {
  header {
    border-radius: 10px;
  }

  .column-1 {
    background-color: #fff;
    color: black;
  }
}